.form{
    margin-top: 22px;
    border: 2px solid #263FA9;
    border-radius: 10px;
    padding: 8px 5px;
    background-color: #030616;
    color: #F2F5F9;
}

input{
    padding-left: 5px;
    width: 400px;
    font-size: 1rem;
    background-color: #030616;
    color: #F2F5F9;
    outline: none;
}




